In [59]:
from selenium import webdriver
browser = webdriver.Chrome('chromedriver.exe')

In [2]:
browser.get('http://localhost:8000/book.html')

In [60]:
import pandas as pd
import numpy as np

In [4]:
df_paras = pd.DataFrame()
books_tag = browser.find_element_by_css_selector('div.books')
book_tag = books_tag.find_elements_by_css_selector('div.book')
for book in book_tag:
    curr_book = {'Author' : book.find_element_by_css_selector('div.author').text,
                 'Desc' : book.find_element_by_css_selector('div.desc').text,
                 'Price' : book.find_element_by_css_selector('li[type = "price"]').text,
                 'Title' : book.find_element_by_css_selector('li.title').text,
                 'Category' : book.find_element_by_css_selector('div.category').get_attribute('type')
                }
    df_paras = df_paras.append(curr_book,ignore_index = True)
    
df_paras

,Author,Category,Desc,Price,Title
0,Dolly,self-help,An inspiring guide from Dolly,10$,The Person you mean to be
1,Tom,society,Tom's perspective of global...,15$,Imperfect courange

In [61]:
url = 'https://www.naukri.com/data-science-jobs'
browser.get(url)

In [62]:
df_job = pd.DataFrame()
parents_jobs_tags = browser.find_elements_by_css_selector('div.row[type="tuple"]')

for job in parents_jobs_tags:
    job_id = job.get_attribute('id')
    job_title = job.find_element_by_css_selector('li.desig').get_attribute('title')
    job_company = job.find_element_by_css_selector('span.org').text
    job_experience = job.find_element_by_css_selector('span.exp').text
    job_location = job.find_element_by_css_selector('span.loc').text
    job_keyskill = job.find_element_by_css_selector('span.skill').text
    job_salary = job.find_element_by_css_selector('span.salary').text
    job_date = job.find_element_by_css_selector('span.date').text
    job_url = job.get_attribute('data-url')
    
    job_dict = {'Job URL':job_url,'Job Id':job_id,'Title':job_title,'Company':job_company,'Experience':job_experience,
         'Location':job_location,'Key Skill':job_keyskill,'Salary':job_salary,'Date':job_date}
    df_job = df_job.append(job_dict,ignore_index = True)
    
df_job

,Company,Date,Experience,Job Id,Job URL,Key Skill,Location,Salary,Title
0,Keyassignments IT Solutions Pvt Ltd,1 day ago,4-7 yrs,070518004367,https://www.naukri.com/job-listings-Data-Scien...,"Python, R, Unix, Linux, SQL",Bengaluru,Not disclosed,"Data Science @sapient(perm) ,"
1,"Optum, a UnitedHealth Group Company",1 day ago,8-13 yrs,050319900979,https://www.naukri.com/job-listings-Senior-Man...,"Senior Manager - Data Science - Gurgaon, HR",Gurgaon,Not disclosed,"Senior Manager - Data Science - Gurgaon, HR"
2,vConstruct Private Limited,1 day ago,8-13 yrs,050319008025,https://www.naukri.com/job-listings-Data-Scien...,"Data Mining, Data Analysis, Data Science, Pric...",Pune(Hadapsar),Not disclosed,Data Science Business Manager
3,Accenture,1 day ago,1-5 yrs,010319901757,https://www.naukri.com/job-listings-Data-Scien...,"Python, Data modeling, MATLAB, SPSS, Computer ...",Bengaluru,Not disclosed,Data Science (jupyter/azure Ml/matlab)
4,Shell India Markets Private Limited,2 days ago,2-3 yrs,040319900570,https://www.naukri.com/job-listings-Team-Lead-...,"Factor Analysis, Deep Learning, Neural Network...",Chennai,Not disclosed,Team Lead - Data Science
5,Cognizant Technology Solutions India Ltd,15 days ago,3-6 yrs,190219004818,https://www.naukri.com/job-listings-Data-Scien...,"Data Science / Spark, Azure ML, R, Python, Mac...","Chennai, Hyderabad",Not disclosed,Data Science/spark Professional
6,WebTek Labs Pvt. Ltd.,1 day ago,2-5 yrs,050319005958,https://www.naukri.com/job-listings-Data-Scien...,"presentable, data science, communication skill...",Delhi NCR(Rajouri garden),"2,00,000 - 3,50,000 P.A.",Data Science Trainer
7,Accenture,12 days ago,1-4 yrs,220219901505,https://www.naukri.com/job-listings-Data-Scien...,"MATLAB, Analytical, Python, Data mining, Analy...",Bengaluru,Not disclosed,Data Science (jupyter/azure Ml/matlab)
8,Avyayh,2 days ago,6-11 yrs,120219009028,https://www.naukri.com/job-listings-Opening-fo...,"data science, spark, python, postgresql",Chennai,"10,00,000 - 18,00,000 P.A.",Opening for Data Science With the Leadng Produ...
9,Accenture,12 days ago,1-4 yrs,220219901499,https://www.naukri.com/job-listings-Data-Scien...,"MATLAB, Python, Data mining, Analytics, Machin...",Bengaluru,Not disclosed,Data Science (jupyter/azure Ml/matlab)
10,HuQuo Consulting Pvt. Ltd.,1 day ago,2-5 yrs,050319005681,https://www.naukri.com/job-listings-Senior-Ana...,"Analyst - Data Science, Python, SQL, R, machin...",Gurgaon,Not disclosed,Senior Analyst - Data Science - Iit/nit/iim/xl...
11,Value C Consulting Services Private Limited,3 days ago,10-20 yrs,030319000605,https://www.naukri.com/job-listings-Vice-Presi...,Data Scientist,"Singapore, United Kingdom (U.K)","50,00,000 - 1 Cr & above P.A.",Vice President- Data Science
12,Impendi Analytics,1 day ago,1-3 yrs,010319902764,https://www.naukri.com/job-listings-Business-A...,"statistical modeling, predictive modeling, r, ...",Delhi,Not disclosed,Business Analyst - Data Science - Iit/bits/nsit
13,Crescendo Global Services,1 day ago,6-10 yrs,020319002201,https://www.naukri.com/job-listings-Manager-Da...,"Natural Language Processing, Data Science, Mac...",Delhi NCR,"18,00,000 - 25,00,000 P.A.",Manager- Data Science Machine Learning Enginee...
14,Allstate Solutions Private Limited,6 days ago,2-4 yrs,270219904507,https://www.naukri.com/job-listings-Consultant...,"hadoop, hive, deep learning, r, text mining, m...",Bengaluru,Not disclosed,Consultant - Data Science
15,Amazon Development Centre (India) Pvt. Ltd.,5 days ago,3-8 yrs,260219009302,https://www.naukri.com/job-listings-Product-An...,"data science, business analysis, sql, Analytic...",Chennai,"12,00,000 - 22,00,000 P.A.",Product Analyst (data Science)
16,Accenture,12 days ago,1-4 yrs,220219901498,https://www.naukri.com/job-listings-Data-Scien...,"MATLAB, Python, Data mining, Analytics, Machin...",Bengaluru,Not disclosed,Data Science (jupyter/azure Ml/matlab)
17,Tiger Analytics,6 days ago,2-6 yrs,280219901770,https://www.naukri.com/job-listings-Senior-Ana...,"C, Data Science, Machine Learning, R, Python, ...",Chennai,Not disclosed,Senior Analyst - Data Science
18,QuickXpert Infotech,4 days ago,3-8 yrs,250219001537,https://www.naukri.com/job-listings-Data-Scien...,"machine learning, artificial intelligence, art...","Mumbai, Navi Mumbai, Thane",Not disclosed,"Data Scientist, Data Science Trainer for Weeke..."
19,Accenture,13 days ago,2-5 yrs,200219900928,https://www.naukri.com/job-listings-Data-Scien...,"Python, MATLAB, Data mining, Machine learning,...",Bengaluru,Not disclosed,Data Science (jupyter/azure Ml/matlab)
20,Emerging India,12 days ago,3-8 yrs,220219005029,https://www.naukri.com/job-listings-Data-Scien...,"deep learning, r, nosql, data science, nlp, sq...","Delhi NCR, Noida","6,00,000 - 10,00,000 P.A.",Data Scientist/data Science Trainer
21,Allstate Solutions Private Limited,6 days ago,6-8 yrs,270219904505,https://www.naukri.com/job-listings-Lead-Consu...,"Hadoop, Hive, Deep Learning, R, Text Mining, M...",Bengaluru,Not disclosed,Lead Consultant - Data Science
22,Fidel Softech Pvt. Ltd,5 days ago,3-7 yrs,010319003738,https://www.naukri.com/job-listings-Data-Scien...,"data science, elixir, python, scala, Data Visu...",Japan,Not disclosed,Data Science Engineer
23,Search Folks,5 days ago,5-10 yrs,270219904274,https://www.naukri.com/job-listings-Data-Scien...,"Spark, Hive, Oozie, Sqoop, SCALA, Big Data, El...",Bengaluru,Not disclosed,Data Science Engineer - AWS Certified
24,Allstate Solutions Private Limited,6 days ago,6-8 yrs,270219904504,https://www.naukri.com/job-listings-Lead-Consu...,"Hadoop, Hive, Deep Learning, R, Text Mining, M...",Bengaluru,Not disclosed,Lead Consultant - Data Science
25,Dataone,13 days ago,4-7 yrs,210219006647,https://www.naukri.com/job-listings-Senior-Dat...,"Data Science, Machine Learning, Open Source",Ahmedabad,Not disclosed,Senior Data Science Engineer
26,Cognizant,5 days ago,3-6 yrs,260219006665,https://www.naukri.com/job-listings-Data-Scien...,"Data Science, Machine Learning, Python, R, Spa...","Hyderabad, Chennai",Not disclosed,Data Science/spark Developer - Machine Learnin...
27,rp consultant,7 days ago,5-10 yrs,270219000191,https://www.naukri.com/job-listings-Asic-soc-V...,".net, java, cloud, devops, hadoop, asic / soc ...","Bengaluru, Chennai, Hyderabad","12,00,000 - 22,00,000 P.A.","Asic/soc Verification Experts in Ie&s,.net/ang..."
28,TalPro,7 days ago,8-12 yrs,270219002811,https://www.naukri.com/job-listings-Chief-Inte...,"Machine Learning, Web Technologies, Chief Inte...","Delhi NCR, Mumbai, Bengaluru, Gurgaon",Not disclosed,Chief Intelligence Officer - Data Science & An...
29,Blue Jay Finlease Limited,5 days ago,8-12 yrs,270219004361,https://www.naukri.com/job-listings-Data-Scien...,"Data Science, Machine Learning, Python, R, SQL...",Delhi NCR,"20,00,000 - 35,00,000 P.A.",Data Science Manager || Ziploan
30,AXA Business Services Pvt Ltd,9 days ago,3-5 yrs,250219002649,https://www.naukri.com/job-listings-Associate-...,"Text Mining, Data Science, Java, Machine Learn...",Bengaluru,Not disclosed,Associate Data Science Consultant
31,Crosstab IT Consulting,1 day ago,14-18 yrs,010319903158,https://www.naukri.com/job-listings-Sr-Manager...,"ML, AI, Python, R, Data Science, AI / ML Resea...",Bengaluru,Not disclosed,Sr. Manager Data Science
32,TalentStack/ The Hiring Story,1 day ago,3-7 yrs,020319001085,https://www.naukri.com/job-listings-Data-Scien...,"sql database, r, analytics, macros, time serie...",Mumbai,Not disclosed,Data Science Developer - Analytics/alteryx
33,American Express Company,2 days ago,0-3 yrs,040319500081,https://www.naukri.com/job-listings-Business-A...,"Unix, Monitoring, Python, Analytics, Machine l...",Gurgaon,Not disclosed,Business Analyst/ Asst. Manager - Global Comme...
34,Asterion Consulting Pvt. Ltd,1 day ago,4-8 yrs,210219007404,https://www.naukri.com/job-listings-Lead-Data-...,"deep learning, text mining, data science, hive...",Bengaluru,Not disclosed,Lead - Data Science
35,TalPro,7 days ago,8-12 yrs,270219001836,https://www.naukri.com/job-listings-Chief-Inte...,"Machine Learning, Chief Intelligence Officer, ...","Delhi NCR, Mumbai, Bengaluru, Gurgaon",Not disclosed,Chief Intelligence Officer - Data Science & An...
36,Atria Biosciences,5 days ago,0-2 yrs,010319003178,https://www.naukri.com/job-listings-Immediatel...,"Data Science, Big Data, big analysis, R Progra...","Mumbai, Bengaluru, Chennai, Hyderabad, Pune, K...","3,00,000 - 4,75,000 P.A.",Immediately Need Data Science Instructor
37,Jardine Lloyd Thompson India Pvt Ltd.,2 days ago,5-7 yrs,040319501012,https://www.naukri.com/job-listings-Senior-Spe...,"Sql, Macros, Analytical, Automation, Open Sour...",Mumbai,Not disclosed,Senior Specialist Data Science
38,Huquo Consulting Pvt. Ltd,6 days ago,2-5 yrs,280219901594,https://www.naukri.com/job-listings-Analyst-Da...,"Machine Learning, Neural Networks, Data Scienc...",Gurgaon,Not disclosed,Analyst - Data Science - Consulting Firm
39,DIGIFOCAL IT SOLUTIONS PRIVATE LIMITED,5 days ago,2-5 yrs,280119001294,https://www.naukri.com/job-listings-Opening-fo...,"sas, r, python, analytics, machine learning, p...",Mumbai,"5,00,000 - 10,00,000 P.A.",Job Opening for Data Science
40,American Express Services India Pvt. Ltd.,2 days ago,0-3 yrs,040319500094,https://www.naukri.com/job-listings-Business-A...,"Unix, Monitoring, Python, Analytics, Machine l...",Gurgaon,Not disclosed,Business Analyst/ Asst. Manager - Global Comme...
41,Asterion Consulting Pvt. Ltd,1 day ago,10-20 yrs,250219002257,https://www.naukri.com/job-listings-Senior-Con...,"Data Science, Machine Learning, Project Planni...",Bengaluru,Not disclosed,Senior Consultant (machine Learning & Data Sci...
42,CareerNet,13 days ago,6-9 yrs,210219900633,https://www.naukri.com/job-listings-Senior-Cus...,"Data Science, Selenium Webdriver, Machine Lear...",Bengaluru,Not disclosed,Senior Customer Success Specialist - Data Scie...
43,Naresh I Technologies,4 days ago,4-9 yrs,280119006091,https://www.naukri.com/job-listings-Data-Scien...,"Data Science, Machine Learning, Big Data, R pr...",Hyderabad,Not disclosed,Data Science Trainer
44,Sabre Travel Technologies Pvt. Ltd,5 days ago,5-8 yrs,270219005491,https://www.naukri.com/job-listings-Senior-Ope...,"c, c++, java, python, data science, microservi...",Bengaluru,"17,00,000 - 25,00,000 P.A.",Senior Operations Research / Data Science
45,Asterion Consulting Pvt. Ltd,1 day ago,8-13 yrs,220219008815,https://www.naukri.com/job-listings-AVP-Data-S...,"data science, Machine learning, python, Deep L...",Bengaluru,Not disclosed,AVP - Data Science
46,Crescendo Global Services,1 day ago,2-5 yrs,020319002371,https://www.naukri.com/job-listings-Deputy-Man...,Python,Gurgaon,"9,00,000 - 12,00,000 P.A.",Deputy Manager- (2-4 yrs )- Python/data Science
47,Karvy Insights Limited,6 days ago,3-5 yrs,280219006986,https://www.naukri.com/job-listings-Senior-Exe...,"Data Science, Survey Programmer, survey develo...",Delhi NCR(Hauz Khas),Not disclosed,Senior Executive Data Science
48,Impetus Career Consultants Private Limited,7 days ago,9-14 yrs,190618007851,https://www.naukri.com/job-listings-Urgent-Ope...,"cloudera, hive, hbase, big data, data science,...",Pune,Not disclosed,Urgent Opening for Data Science for a Large MNC
49,QuickXpert Infotech,4 days ago,8-13 yrs,250219001548,https://www.naukri.com/job-listings-Data-Scien...,"machine learning, artificial intelligence, art...","Mumbai, Navi Mumbai, Thane",Not disclosed,"Data Scientist, Data Science Trainer for Weeke..."

In [30]:
df_job.to_csv('Jobs_datascience.execl',index = False)

In [63]:
jobs_df=pd.DataFrame()
def get_attribute(parent,selector,attribute):
    if attribute == 'text':
        val = parent.find_element_by_css_selector(selector).text
    else:
        val = parent.find_element_by_css_selector(selector).get_attribute('text')
    return val

jobs_dt = pd.DataFrame()
for job_tag in parents_jobs_tags:
    
    job_dt = {
         'Job URL':job.get_attribute('data-url'),
         'Job Id':job.get_attribute('id'),
         'Title':get_attribute(job_tag,'li.desig','title'),
         'Company':get_attribute(job_tag,'span.org','text'),
         'Experience':get_attribute(job_tag,'span.exp','text'),
         'Location':get_attribute(job_tag,'span.loc','text'),
         'Key Skill':get_attribute(job_tag,'span.skill','text'),
         'Salary':get_attribute(job_tag,'span.salary','text'),
         'Date':get_attribute(job_tag,'span.date','text')
     }
    jobs_dt = jobs_dt.append(job_dt,ignore_index = True)
    
jobs_dt

,Company,Date,Experience,Job Id,Job URL,Key Skill,Location,Salary,Title
0,Keyassignments IT Solutions Pvt Ltd,1 day ago,4-7 yrs,250219001548,https://www.naukri.com/job-listings-Data-Scien...,"Python, R, Unix, Linux, SQL",Bengaluru,Not disclosed,None
1,"Optum, a UnitedHealth Group Company",1 day ago,8-13 yrs,250219001548,https://www.naukri.com/job-listings-Data-Scien...,"Senior Manager - Data Science - Gurgaon, HR",Gurgaon,Not disclosed,None
2,vConstruct Private Limited,1 day ago,8-13 yrs,250219001548,https://www.naukri.com/job-listings-Data-Scien...,"Data Mining, Data Analysis, Data Science, Pric...",Pune(Hadapsar),Not disclosed,None
3,Accenture,1 day ago,1-5 yrs,250219001548,https://www.naukri.com/job-listings-Data-Scien...,"Python, Data modeling, MATLAB, SPSS, Computer ...",Bengaluru,Not disclosed,None
4,Shell India Markets Private Limited,2 days ago,2-3 yrs,250219001548,https://www.naukri.com/job-listings-Data-Scien...,"Factor Analysis, Deep Learning, Neural Network...",Chennai,Not disclosed,None
5,Cognizant Technology Solutions India Ltd,15 days ago,3-6 yrs,250219001548,https://www.naukri.com/job-listings-Data-Scien...,"Data Science / Spark, Azure ML, R, Python, Mac...","Chennai, Hyderabad",Not disclosed,None
6,WebTek Labs Pvt. Ltd.,1 day ago,2-5 yrs,250219001548,https://www.naukri.com/job-listings-Data-Scien...,"presentable, data science, communication skill...",Delhi NCR(Rajouri garden),"2,00,000 - 3,50,000 P.A.",None
7,Accenture,12 days ago,1-4 yrs,250219001548,https://www.naukri.com/job-listings-Data-Scien...,"MATLAB, Analytical, Python, Data mining, Analy...",Bengaluru,Not disclosed,None
8,Avyayh,2 days ago,6-11 yrs,250219001548,https://www.naukri.com/job-listings-Data-Scien...,"data science, spark, python, postgresql",Chennai,"10,00,000 - 18,00,000 P.A.",None
9,Accenture,12 days ago,1-4 yrs,250219001548,https://www.naukri.com/job-listings-Data-Scien...,"MATLAB, Python, Data mining, Analytics, Machin...",Bengaluru,Not disclosed,None
10,HuQuo Consulting Pvt. Ltd.,1 day ago,2-5 yrs,250219001548,https://www.naukri.com/job-listings-Data-Scien...,"Analyst - Data Science, Python, SQL, R, machin...",Gurgaon,Not disclosed,None
11,Value C Consulting Services Private Limited,3 days ago,10-20 yrs,250219001548,https://www.naukri.com/job-listings-Data-Scien...,Data Scientist,"Singapore, United Kingdom (U.K)","50,00,000 - 1 Cr & above P.A.",None
12,Impendi Analytics,1 day ago,1-3 yrs,250219001548,https://www.naukri.com/job-listings-Data-Scien...,"statistical modeling, predictive modeling, r, ...",Delhi,Not disclosed,None
13,Crescendo Global Services,1 day ago,6-10 yrs,250219001548,https://www.naukri.com/job-listings-Data-Scien...,"Natural Language Processing, Data Science, Mac...",Delhi NCR,"18,00,000 - 25,00,000 P.A.",None
14,Allstate Solutions Private Limited,6 days ago,2-4 yrs,250219001548,https://www.naukri.com/job-listings-Data-Scien...,"hadoop, hive, deep learning, r, text mining, m...",Bengaluru,Not disclosed,None
15,Amazon Development Centre (India) Pvt. Ltd.,5 days ago,3-8 yrs,250219001548,https://www.naukri.com/job-listings-Data-Scien...,"data science, business analysis, sql, Analytic...",Chennai,"12,00,000 - 22,00,000 P.A.",None
16,Accenture,12 days ago,1-4 yrs,250219001548,https://www.naukri.com/job-listings-Data-Scien...,"MATLAB, Python, Data mining, Analytics, Machin...",Bengaluru,Not disclosed,None
17,Tiger Analytics,6 days ago,2-6 yrs,250219001548,https://www.naukri.com/job-listings-Data-Scien...,"C, Data Science, Machine Learning, R, Python, ...",Chennai,Not disclosed,None
18,QuickXpert Infotech,4 days ago,3-8 yrs,250219001548,https://www.naukri.com/job-listings-Data-Scien...,"machine learning, artificial intelligence, art...","Mumbai, Navi Mumbai, Thane",Not disclosed,None
19,Accenture,13 days ago,2-5 yrs,250219001548,https://www.naukri.com/job-listings-Data-Scien...,"Python, MATLAB, Data mining, Machine learning,...",Bengaluru,Not disclosed,None
20,Emerging India,12 days ago,3-8 yrs,250219001548,https://www.naukri.com/job-listings-Data-Scien...,"deep learning, r, nosql, data science, nlp, sq...","Delhi NCR, Noida","6,00,000 - 10,00,000 P.A.",None
21,Allstate Solutions Private Limited,6 days ago,6-8 yrs,250219001548,https://www.naukri.com/job-listings-Data-Scien...,"Hadoop, Hive, Deep Learning, R, Text Mining, M...",Bengaluru,Not disclosed,None
22,Fidel Softech Pvt. Ltd,5 days ago,3-7 yrs,250219001548,https://www.naukri.com/job-listings-Data-Scien...,"data science, elixir, python, scala, Data Visu...",Japan,Not disclosed,None
23,Search Folks,5 days ago,5-10 yrs,250219001548,https://www.naukri.com/job-listings-Data-Scien...,"Spark, Hive, Oozie, Sqoop, SCALA, Big Data, El...",Bengaluru,Not disclosed,None
24,Allstate Solutions Private Limited,6 days ago,6-8 yrs,250219001548,https://www.naukri.com/job-listings-Data-Scien...,"Hadoop, Hive, Deep Learning, R, Text Mining, M...",Bengaluru,Not disclosed,None
25,Dataone,13 days ago,4-7 yrs,250219001548,https://www.naukri.com/job-listings-Data-Scien...,"Data Science, Machine Learning, Open Source",Ahmedabad,Not disclosed,None
26,Cognizant,5 days ago,3-6 yrs,250219001548,https://www.naukri.com/job-listings-Data-Scien...,"Data Science, Machine Learning, Python, R, Spa...","Hyderabad, Chennai",Not disclosed,None
27,rp consultant,7 days ago,5-10 yrs,250219001548,https://www.naukri.com/job-listings-Data-Scien...,".net, java, cloud, devops, hadoop, asic / soc ...","Bengaluru, Chennai, Hyderabad","12,00,000 - 22,00,000 P.A.",None
28,TalPro,7 days ago,8-12 yrs,250219001548,https://www.naukri.com/job-listings-Data-Scien...,"Machine Learning, Web Technologies, Chief Inte...","Delhi NCR, Mumbai, Bengaluru, Gurgaon",Not disclosed,None
29,Blue Jay Finlease Limited,5 days ago,8-12 yrs,250219001548,https://www.naukri.com/job-listings-Data-Scien...,"Data Science, Machine Learning, Python, R, SQL...",Delhi NCR,"20,00,000 - 35,00,000 P.A.",None
30,AXA Business Services Pvt Ltd,9 days ago,3-5 yrs,250219001548,https://www.naukri.com/job-listings-Data-Scien...,"Text Mining, Data Science, Java, Machine Learn...",Bengaluru,Not disclosed,None
31,Crosstab IT Consulting,1 day ago,14-18 yrs,250219001548,https://www.naukri.com/job-listings-Data-Scien...,"ML, AI, Python, R, Data Science, AI / ML Resea...",Bengaluru,Not disclosed,None
32,TalentStack/ The Hiring Story,1 day ago,3-7 yrs,250219001548,https://www.naukri.com/job-listings-Data-Scien...,"sql database, r, analytics, macros, time serie...",Mumbai,Not disclosed,None
33,American Express Company,2 days ago,0-3 yrs,250219001548,https://www.naukri.com/job-listings-Data-Scien...,"Unix, Monitoring, Python, Analytics, Machine l...",Gurgaon,Not disclosed,None
34,Asterion Consulting Pvt. Ltd,1 day ago,4-8 yrs,250219001548,https://www.naukri.com/job-listings-Data-Scien...,"deep learning, text mining, data science, hive...",Bengaluru,Not disclosed,None
35,TalPro,7 days ago,8-12 yrs,250219001548,https://www.naukri.com/job-listings-Data-Scien...,"Machine Learning, Chief Intelligence Officer, ...","Delhi NCR, Mumbai, Bengaluru, Gurgaon",Not disclosed,None
36,Atria Biosciences,5 days ago,0-2 yrs,250219001548,https://www.naukri.com/job-listings-Data-Scien...,"Data Science, Big Data, big analysis, R Progra...","Mumbai, Bengaluru, Chennai, Hyderabad, Pune, K...","3,00,000 - 4,75,000 P.A.",None
37,Jardine Lloyd Thompson India Pvt Ltd.,2 days ago,5-7 yrs,250219001548,https://www.naukri.com/job-listings-Data-Scien...,"Sql, Macros, Analytical, Automation, Open Sour...",Mumbai,Not disclosed,None
38,Huquo Consulting Pvt. Ltd,6 days ago,2-5 yrs,250219001548,https://www.naukri.com/job-listings-Data-Scien...,"Machine Learning, Neural Networks, Data Scienc...",Gurgaon,Not disclosed,None
39,DIGIFOCAL IT SOLUTIONS PRIVATE LIMITED,5 days ago,2-5 yrs,250219001548,https://www.naukri.com/job-listings-Data-Scien...,"sas, r, python, analytics, machine learning, p...",Mumbai,"5,00,000 - 10,00,000 P.A.",None
40,American Express Services India Pvt. Ltd.,2 days ago,0-3 yrs,250219001548,https://www.naukri.com/job-listings-Data-Scien...,"Unix, Monitoring, Python, Analytics, Machine l...",Gurgaon,Not disclosed,None
41,Asterion Consulting Pvt. Ltd,1 day ago,10-20 yrs,250219001548,https://www.naukri.com/job-listings-Data-Scien...,"Data Science, Machine Learning, Project Planni...",Bengaluru,Not disclosed,None
42,CareerNet,13 days ago,6-9 yrs,250219001548,https://www.naukri.com/job-listings-Data-Scien...,"Data Science, Selenium Webdriver, Machine Lear...",Bengaluru,Not disclosed,None
43,Naresh I Technologies,4 days ago,4-9 yrs,250219001548,https://www.naukri.com/job-listings-Data-Scien...,"Data Science, Machine Learning, Big Data, R pr...",Hyderabad,Not disclosed,None
44,Sabre Travel Technologies Pvt. Ltd,5 days ago,5-8 yrs,250219001548,https://www.naukri.com/job-listings-Data-Scien...,"c, c++, java, python, data science, microservi...",Bengaluru,"17,00,000 - 25,00,000 P.A.",None
45,Asterion Consulting Pvt. Ltd,1 day ago,8-13 yrs,250219001548,https://www.naukri.com/job-listings-Data-Scien...,"data science, Machine learning, python, Deep L...",Bengaluru,Not disclosed,None
46,Crescendo Global Services,1 day ago,2-5 yrs,250219001548,https://www.naukri.com/job-listings-Data-Scien...,Python,Gurgaon,"9,00,000 - 12,00,000 P.A.",None
47,Karvy Insights Limited,6 days ago,3-5 yrs,250219001548,https://www.naukri.com/job-listings-Data-Scien...,"Data Science, Survey Programmer, survey develo...",Delhi NCR(Hauz Khas),Not disclosed,None
48,Impetus Career Consultants Private Limited,7 days ago,9-14 yrs,250219001548,https://www.naukri.com/job-listings-Data-Scien...,"cloudera, hive, hbase, big data, data science,...",Pune,Not disclosed,None
49,QuickXpert Infotech,4 days ago,8-13 yrs,250219001548,https://www.naukri.com/job-listings-Data-Scien...,"machine learning, artificial intelligence, art...","Mumbai, Navi Mumbai, Thane",Not disclosed,None

# Looping through multiple page

Method 1 -- Manually type the url

In [73]:
def get_attribute(parent,selector,attribute):
    try:
        if attribute == 'text':
            val = parent.find_element_by_css_selector(selector).text
        else:
            val = parent.find_element_by_css_selector(selector).get_attribute(attribute)
    except:
        val = None
    return val

import time
jobs_dt = pd.DataFrame()
for i in range(1,10):
    url = 'https://www.naukri.com/data-science-jobs-%d' %(i)
    browser.get(url)
    time.sleep(2)
    print(i)
    
    parents_jobs_tags = browser.find_elements_by_css_selector('div.row[type="tuple"]')
   
    for job in parents_jobs_tags:
        job_dt = {
             'Job URL':job.get_attribute('data-url'),
             'Job Id':job.get_attribute('id'),
             'Title':get_attribute(job,'li.desig','title'),
             'Company':get_attribute(job,'span.org','text'),
             'Experience':get_attribute(job,'span.exp','text'),
             'Location':get_attribute(job,'span.loc','text'),
             'Key Skill':get_attribute(job,'span.skill','text'),
             'Salary':get_attribute(job,'span.salary','text'),
             'Date':get_attribute(job,'span.date','text')
         }
        jobs_dt = jobs_dt.append(job_dt,ignore_index = True)
    
jobs_dt

1
2
3
4
5
6
7
8
9

,Company,Date,Experience,Job Id,Job URL,Key Skill,Location,Salary,Title
0,Keyassignments IT Solutions Pvt Ltd,1 day ago,4-7 yrs,070518004367,https://www.naukri.com/job-listings-Data-Scien...,"Python, R, Unix, Linux, SQL",Bengaluru,Not disclosed,"Data Science @sapient(perm) ,"
1,"Optum, a UnitedHealth Group Company",1 day ago,8-13 yrs,050319900979,https://www.naukri.com/job-listings-Senior-Man...,"Senior Manager - Data Science - Gurgaon, HR",Gurgaon,Not disclosed,"Senior Manager - Data Science - Gurgaon, HR"
2,vConstruct Private Limited,1 day ago,8-13 yrs,050319008025,https://www.naukri.com/job-listings-Data-Scien...,"Data Mining, Data Analysis, Data Science, Pric...",Pune(Hadapsar),Not disclosed,Data Science Business Manager
3,Accenture,1 day ago,1-5 yrs,010319901757,https://www.naukri.com/job-listings-Data-Scien...,"Python, Data modeling, MATLAB, SPSS, Computer ...",Bengaluru,Not disclosed,Data Science (jupyter/azure Ml/matlab)
4,Shell India Markets Private Limited,2 days ago,2-3 yrs,040319900570,https://www.naukri.com/job-listings-Team-Lead-...,"Factor Analysis, Deep Learning, Neural Network...",Chennai,Not disclosed,Team Lead - Data Science
5,Cognizant Technology Solutions India Ltd,15 days ago,3-6 yrs,190219004818,https://www.naukri.com/job-listings-Data-Scien...,"Data Science / Spark, Azure ML, R, Python, Mac...","Chennai, Hyderabad",Not disclosed,Data Science/spark Professional
6,WebTek Labs Pvt. Ltd.,1 day ago,2-5 yrs,050319005958,https://www.naukri.com/job-listings-Data-Scien...,"presentable, data science, communication skill...",Delhi NCR(Rajouri garden),"2,00,000 - 3,50,000 P.A.",Data Science Trainer
7,Accenture,12 days ago,1-4 yrs,220219901505,https://www.naukri.com/job-listings-Data-Scien...,"MATLAB, Analytical, Python, Data mining, Analy...",Bengaluru,Not disclosed,Data Science (jupyter/azure Ml/matlab)
8,Avyayh,2 days ago,6-11 yrs,120219009028,https://www.naukri.com/job-listings-Opening-fo...,"data science, spark, python, postgresql",Chennai,"10,00,000 - 18,00,000 P.A.",Opening for Data Science With the Leadng Produ...
9,Accenture,12 days ago,1-4 yrs,220219901499,https://www.naukri.com/job-listings-Data-Scien...,"MATLAB, Python, Data mining, Analytics, Machin...",Bengaluru,Not disclosed,Data Science (jupyter/azure Ml/matlab)
10,HuQuo Consulting Pvt. Ltd.,1 day ago,2-5 yrs,050319005681,https://www.naukri.com/job-listings-Senior-Ana...,"Analyst - Data Science, Python, SQL, R, machin...",Gurgaon,Not disclosed,Senior Analyst - Data Science - Iit/nit/iim/xl...
11,Value C Consulting Services Private Limited,3 days ago,10-20 yrs,030319000605,https://www.naukri.com/job-listings-Vice-Presi...,Data Scientist,"Singapore, United Kingdom (U.K)","50,00,000 - 1 Cr & above P.A.",Vice President- Data Science
12,Impendi Analytics,1 day ago,1-3 yrs,010319902764,https://www.naukri.com/job-listings-Business-A...,"statistical modeling, predictive modeling, r, ...",Delhi,Not disclosed,Business Analyst - Data Science - Iit/bits/nsit
13,Crescendo Global Services,1 day ago,6-10 yrs,020319002201,https://www.naukri.com/job-listings-Manager-Da...,"Natural Language Processing, Data Science, Mac...",Delhi NCR,"18,00,000 - 25,00,000 P.A.",Manager- Data Science Machine Learning Enginee...
14,Allstate Solutions Private Limited,6 days ago,2-4 yrs,270219904507,https://www.naukri.com/job-listings-Consultant...,"hadoop, hive, deep learning, r, text mining, m...",Bengaluru,Not disclosed,Consultant - Data Science
15,Amazon Development Centre (India) Pvt. Ltd.,5 days ago,3-8 yrs,260219009302,https://www.naukri.com/job-listings-Product-An...,"data science, business analysis, sql, Analytic...",Chennai,"12,00,000 - 22,00,000 P.A.",Product Analyst (data Science)
16,Accenture,12 days ago,1-4 yrs,220219901498,https://www.naukri.com/job-listings-Data-Scien...,"MATLAB, Python, Data mining, Analytics, Machin...",Bengaluru,Not disclosed,Data Science (jupyter/azure Ml/matlab)
17,Tiger Analytics,6 days ago,2-6 yrs,280219901770,https://www.naukri.com/job-listings-Senior-Ana...,"C, Data Science, Machine Learning, R, Python, ...",Chennai,Not disclosed,Senior Analyst - Data Science
18,QuickXpert Infotech,4 days ago,3-8 yrs,250219001537,https://www.naukri.com/job-listings-Data-Scien...,"machine learning, artificial intelligence, art...","Mumbai, Navi Mumbai, Thane",Not disclosed,"Data Scientist, Data Science Trainer for Weeke..."
19,Emerging India,12 days ago,3-8 yrs,220219005029,https://www.naukri.com/job-listings-Data-Scien...,"deep learning, r, nosql, data science, nlp, sq...","Delhi NCR, Noida","6,00,000 - 10,00,000 P.A.",Data Scientist/data Science Trainer
20,Accenture,13 days ago,2-5 yrs,200219900928,https://www.naukri.com/job-listings-Data-Scien...,"Python, MATLAB, Data mining, Machine learning,...",Bengaluru,Not disclosed,Data Science (jupyter/azure Ml/matlab)
21,Fidel Softech Pvt. Ltd,5 days ago,3-7 yrs,010319003738,https://www.naukri.com/job-listings-Data-Scien...,"data science, elixir, python, scala, Data Visu...",Japan,Not disclosed,Data Science Engineer
22,Allstate Solutions Private Limited,6 days ago,6-8 yrs,270219904505,https://www.naukri.com/job-listings-Lead-Consu...,"Hadoop, Hive, Deep Learning, R, Text Mining, M...",Bengaluru,Not disclosed,Lead Consultant - Data Science
23,Search Folks,5 days ago,5-10 yrs,270219904274,https://www.naukri.com/job-listings-Data-Scien...,"Spark, Hive, Oozie, Sqoop, SCALA, Big Data, El...",Bengaluru,Not disclosed,Data Science Engineer - AWS Certified
24,Allstate Solutions Private Limited,6 days ago,6-8 yrs,270219904504,https://www.naukri.com/job-listings-Lead-Consu...,"Hadoop, Hive, Deep Learning, R, Text Mining, M...",Bengaluru,Not disclosed,Lead Consultant - Data Science
25,Dataone,13 days ago,4-7 yrs,210219006647,https://www.naukri.com/job-listings-Senior-Dat...,"Data Science, Machine Learning, Open Source",Ahmedabad,Not disclosed,Senior Data Science Engineer
26,Cognizant,5 days ago,3-6 yrs,260219006665,https://www.naukri.com/job-listings-Data-Scien...,"Data Science, Machine Learning, Python, R, Spa...","Hyderabad, Chennai",Not disclosed,Data Science/spark Developer - Machine Learnin...
27,rp consultant,7 days ago,5-10 yrs,270219000191,https://www.naukri.com/job-listings-Asic-soc-V...,".net, java, cloud, devops, hadoop, asic / soc ...","Bengaluru, Chennai, Hyderabad","12,00,000 - 22,00,000 P.A.","Asic/soc Verification Experts in Ie&s,.net/ang..."
28,TalPro,7 days ago,8-12 yrs,270219002811,https://www.naukri.com/job-listings-Chief-Inte...,"Machine Learning, Web Technologies, Chief Inte...","Delhi NCR, Mumbai, Bengaluru, Gurgaon",Not disclosed,Chief Intelligence Officer - Data Science & An...
29,Blue Jay Finlease Limited,5 days ago,8-12 yrs,270219004361,https://www.naukri.com/job-listings-Data-Scien...,"Data Science, Machine Learning, Python, R, SQL...",Delhi NCR,"20,00,000 - 35,00,000 P.A.",Data Science Manager || Ziploan
...,...,...,...,...,...,...,...,...,...
420,IMS Proschool Pvt. Ltd,7 days ago,0-5 yrs,270219000196,https://www.naukri.com/job-listings-Assistant-...,"sales management, cold calling, lead generatio...",Hyderabad(Chintal),Not disclosed,Assistant Sales Manager/ Sr Counselor -fast Gr...
421,HR CENTRAL,5 days ago,4-8 yrs,250219008246,https://www.naukri.com/job-listings-Data-Scien...,"analytics data science, modeling, python, sas,...",Mumbai,"18,00,000 - 20,00,000 P.A.",Data Scientist- Mumbai-cpg Industry
422,Tekshapers Software Solutions (P) Limited,12 days ago,9-14 yrs,220219001176,https://www.naukri.com/job-listings-DATA-Scien...,"DATA SCIENCE, DATA SCIENTIST, Machine Learning...",Delhi NCR,Not disclosed,DATA Scientist WITH Healthcare Domain Noida
423,Candor Management Services Pvt. Ltd.,13 days ago,10-10 yrs,210219005500,https://www.naukri.com/job-listings-AI-and-Mac...,"data analytics, machine learning, artificial i...",Bengaluru(Indira Nagar),"15,00,000 - 25,00,000 P.A.",AI and Machine Learning Architect
424,WINFORT SERVICES,12 days ago,5-7 yrs,200219009212,https://www.naukri.com/job-listings-Technical-...,"machine learning, nlp, data science, open sour...",Chennai,Not disclosed,Technical Lead - NLP/ Machine Learning
425,WINFORT SERVICES,8 days ago,3-5 yrs,200219009203,https://www.naukri.com/job-listings-Data-Scien...,"machine learning, nlp, data science, text anal...","Chennai, Hyderabad",Not disclosed,Data Scientist - NLP/ ML - Text Analytics
426,Stratemis HR Technologies Private Limited,14 days ago,1-4 yrs,200219005704,https://www.naukri.com/job-listings-Inside-Sal...,"Inside Sales, Data Science, Machine Learning, ...",Gurgaon(Udyog Vihar),"2,50,000 - 4,00,000 P.A.",Inside Sales Executive (only FROM Education Ba...
427,Atmecs Technologies Pvt Ltd,2 days ago,4-8 yrs,200219005457,https://www.naukri.com/job-listings-Looking-fo...,"Core Java, J2Ee, Javascript, Jenkins, Object O...",Hyderabad,Not disclosed,Looking for Java Developer with Node JS /react...
428,Culminant Outlook,14 days ago,7-9 yrs,200219005187,https://www.naukri.com/job-listings-Senior-Dat...,"deep learning, machine learning, data science,...",Chennai,"8,50,000 - 18,50,000 P.A.","Senior Data Scientist(7-9 Years, Current Locat..."
429,Advent Global Solution Private Limited,14 days ago,2-7 yrs,200219004894,https://www.naukri.com/job-listings-Data-Scien...,"Deep Learning, Hive, Spark, Machine Learning, ...",Chennai,Not disclosed,Data Scientist
430,Careernet Technologies Pvt Ltd,14 days ago,4-9 yrs,200219000222,https://www.naukri.com/job-listings-Excellent-...,"data science, banking analytics, neural networ...","Kolkata, Bengaluru","4,75,000 - 9,75,000 P.A.",Excellent Opportunity!!! Analytics Manager
431,Black Turtle India Pvt Ltd,13 days ago,2-7 yrs,190219902208,https://www.naukri.com/job-listings-Electronic...,"Deep Learning, Data Science, Python, Machine L...",Mumbai,Not disclosed,Electronic Market Making Modeler - KPO
432,Collabera Technologies Private Limited,2 days ago,2-7 yrs,040319003589,https://www.naukri.com/job-listings-Python-Dev...,"Hive, Pig, HBase, NoSQL, Cassandra, MongoDB, S...","Gurgaon, Delhi NCR","4,00,000 - 8,00,000 P.A.","Python Developer,"
433,UNCAP RESEARCH LABS PVT LTD,2 days ago,3-6 yrs,040319001243,https://www.naukri.com/job-listings-Talent-Eva...,"Recruitment, Talent Acquisition, Sourcing, Lin...",Pune,"5,00,000 - 8,00,000 P.A.",Talent Evangelist
434,Engage IT Manpower Solutions Private Limited,5 days ago,3-8 yrs,010319901496,https://www.naukri.com/job-listings-Data-Scien...,"Data Scientist, Natural Language Processing, D...",Bengaluru,Not disclosed,Data Scientist - Natural Language Processing E...
435,FISSION COMPUTER LABS PRIVATE LIMITED,5 days ago,3-8 yrs,010319006901,https://www.naukri.com/job-listings-Java-Devel...,"Java, Spring, Hibernate, Rest, MongoDB, AWS, P...",Hyderabad,"6,00,000 - 14,00,000 P.A.",Java Developer/sr Java Engineer/software Devel...
436,iLEAD Foundation,5 days ago,2-7 yrs,010319005789,https://www.naukri.com/job-listings-Faculty-cu...,"Hotel Management, Hospitality Management, Mobi...",Kolkata(Christopher Road),Not disclosed,Faculty-culinary Sc./gaming & App Development/...
437,Oracle India Pvt. Ltd.,3 days ago,5-10 yrs,010319000439,https://www.naukri.com/job-listings-Obiee-Cons...,"Oracle Database, Unix, Weblogic Server, Comput...",Bengaluru,Not disclosed,Obiee Consultant
438,Mississippi Consultants,30+ days ago,12-14 yrs,310119900282,https://www.naukri.com/job-listings-Senior-lea...,"deep learning, c, machine learning, nlp, pytho...",Mumbai,Not disclosed,Senior lead Artificial Intelligence role
439,Mississippi Consultants,30+ days ago,10-12 yrs,310119900279,https://www.naukri.com/job-listings-Senior-Art...,"Deep Learning, C, Machine Learning, NLP, Pytho...",Mumbai,Not disclosed,Senior Artificial Intelligence role
440,ALMUG TECHNOLOGIES PRIVATE LIMITED,30+ days ago,2-6 yrs,310119004536,https://www.naukri.com/job-listings-Data-Scien...,"machine learning, analytics, statistical model...",Bengaluru,Not disclosed,Data Scientist
441,TalentStack,30+ days ago,4-8 yrs,310119001807,https://www.naukri.com/job-listings-Data-Scien...,"Data Science, Machine Learning, Artificial Int...",Mumbai,Not disclosed,Data Scientist - Machine Learning/ Artificial ...
442,The Hiring Story,30+ days ago,3-6 yrs,300818900889,https://www.naukri.com/job-listings-Data-Scien...,"Data Science, Machine Learning, SQL, Python, R...",Mumbai,Not disclosed,Data Scientist - ETL/ Analytics
443,Change Leaders,30+ days ago,0-4 yrs,300119901520,https://www.naukri.com/job-listings-Data-Scien...,"Machine Learning, Python, Statistics, Analytic...",Bengaluru,Not disclosed,Data Scientist - Machine Learning - Edutech - ...
444,Engage IT Manpower Solutions Private Limited,30+ days ago,4-8 yrs,300119901225,https://www.naukri.com/job-listings-Sr-Enginee...,"deep learning, machine learning, power user, a...",Bengaluru,Not disclosed,Sr. Engineer - Machine Learning (retail Domain)
445,Engage IT Manpower Solutions Private Limited,30+ days ago,5-7 yrs,300119901224,https://www.naukri.com/job-listings-Machine-Le...,"deep learning, neural networks, predictive mod...",Bengaluru,Not disclosed,Machine Learning and Data Scientist
446,Silverpeople,30+ days ago,8-13 yrs,300119900355,https://www.naukri.com/job-listings-Senior-Dat...,"Retail, R, Python, SAS, Problem Solving, data ...",Bengaluru,Not disclosed,Senior Data Scientist - Retail
447,Sitel India Pvt Ltd,30+ days ago,10-12 yrs,300119005132,https://www.naukri.com/job-listings-Data-Scien...,"Natural Language Processing, C, Java, Python, ...",Mumbai,Not disclosed,Data Scientist (senior Manager) - Mumbai
448,Sitel India Pvt Ltd,30+ days ago,5-7 yrs,300119005086,https://www.naukri.com/job-listings-Data-Scien...,"Natural Language Processing, C, Java, Python, ...",Mumbai,Not disclosed,Data Scientist (assistant Manager) - Mumbai
449,DATA SEMANTICS PRIVATE LIMITED,30+ days ago,8-12 yrs,290119005736,https://www.naukri.com/job-listings-Qlikview-A...,"Data Science, Data Warehousing, Business Intel...",Bengaluru(Indira Nagar),"9,00,000 - 18,00,000 P.A.",Qlikview Architect

In [76]:
import time
df_job = pd.DataFrame()
for i in range(1,10):
    url = 'https://www.naukri.com/data-science-jobs-%d' %(i)
    browser.get(url)
    time.sleep(2)
    print(i)
    
    parents_jobs_tags = browser.find_elements_by_css_selector('div.row[type="tuple"]')

    for job in parents_jobs_tags:
        job_id = job.get_attribute('id')
        job_title = job.find_element_by_css_selector('li.desig').get_attribute('title')
        job_company = job.find_element_by_css_selector('span.org').text
        try:
            job_experience = job.find_element_by_css_selector('span.exp').text
        except:
            job_experience = None
        try:
            job_location = job.find_element_by_css_selector('span.loc').text
        except:
            job_location = None
        try:
            job_keyskill = job.find_element_by_css_selector('span.skill').text
        except:
            job_keyskill = None
        job_salary = job.find_element_by_css_selector('span.salary').text
        job_date = job.find_element_by_css_selector('span.date').text
        job_url = job.get_attribute('data-url')

        job_dict = {'Job URL':job_url,'Job Id':job_id,'Title':job_title,'Company':job_company,'Experience':job_experience,
             'Location':job_location,'Key Skill':job_keyskill,'Salary':job_salary,'Date':job_date}
        df_job = df_job.append(job_dict,ignore_index = True)

df_job

1
2
3
4
5
6
7
8
9

,Company,Date,Experience,Job Id,Job URL,Key Skill,Location,Salary,Title
0,Keyassignments IT Solutions Pvt Ltd,1 day ago,4-7 yrs,070518004367,https://www.naukri.com/job-listings-Data-Scien...,"Python, R, Unix, Linux, SQL",Bengaluru,Not disclosed,"Data Science @sapient(perm) ,"
1,"Optum, a UnitedHealth Group Company",1 day ago,8-13 yrs,050319900979,https://www.naukri.com/job-listings-Senior-Man...,"Senior Manager - Data Science - Gurgaon, HR",Gurgaon,Not disclosed,"Senior Manager - Data Science - Gurgaon, HR"
2,vConstruct Private Limited,1 day ago,8-13 yrs,050319008025,https://www.naukri.com/job-listings-Data-Scien...,"Data Mining, Data Analysis, Data Science, Pric...",Pune(Hadapsar),Not disclosed,Data Science Business Manager
3,Accenture,1 day ago,1-5 yrs,010319901757,https://www.naukri.com/job-listings-Data-Scien...,"Python, Data modeling, MATLAB, SPSS, Computer ...",Bengaluru,Not disclosed,Data Science (jupyter/azure Ml/matlab)
4,Shell India Markets Private Limited,2 days ago,2-3 yrs,040319900570,https://www.naukri.com/job-listings-Team-Lead-...,"Factor Analysis, Deep Learning, Neural Network...",Chennai,Not disclosed,Team Lead - Data Science
5,Cognizant Technology Solutions India Ltd,15 days ago,3-6 yrs,190219004818,https://www.naukri.com/job-listings-Data-Scien...,"Data Science / Spark, Azure ML, R, Python, Mac...","Chennai, Hyderabad",Not disclosed,Data Science/spark Professional
6,WebTek Labs Pvt. Ltd.,1 day ago,2-5 yrs,050319005958,https://www.naukri.com/job-listings-Data-Scien...,"presentable, data science, communication skill...",Delhi NCR(Rajouri garden),"2,00,000 - 3,50,000 P.A.",Data Science Trainer
7,Accenture,12 days ago,1-4 yrs,220219901505,https://www.naukri.com/job-listings-Data-Scien...,"MATLAB, Analytical, Python, Data mining, Analy...",Bengaluru,Not disclosed,Data Science (jupyter/azure Ml/matlab)
8,Avyayh,2 days ago,6-11 yrs,120219009028,https://www.naukri.com/job-listings-Opening-fo...,"data science, spark, python, postgresql",Chennai,"10,00,000 - 18,00,000 P.A.",Opening for Data Science With the Leadng Produ...
9,Accenture,12 days ago,1-4 yrs,220219901499,https://www.naukri.com/job-listings-Data-Scien...,"MATLAB, Python, Data mining, Analytics, Machin...",Bengaluru,Not disclosed,Data Science (jupyter/azure Ml/matlab)
10,HuQuo Consulting Pvt. Ltd.,1 day ago,2-5 yrs,050319005681,https://www.naukri.com/job-listings-Senior-Ana...,"Analyst - Data Science, Python, SQL, R, machin...",Gurgaon,Not disclosed,Senior Analyst - Data Science - Iit/nit/iim/xl...
11,Value C Consulting Services Private Limited,3 days ago,10-20 yrs,030319000605,https://www.naukri.com/job-listings-Vice-Presi...,Data Scientist,"Singapore, United Kingdom (U.K)","50,00,000 - 1 Cr & above P.A.",Vice President- Data Science
12,Impendi Analytics,1 day ago,1-3 yrs,010319902764,https://www.naukri.com/job-listings-Business-A...,"statistical modeling, predictive modeling, r, ...",Delhi,Not disclosed,Business Analyst - Data Science - Iit/bits/nsit
13,Crescendo Global Services,1 day ago,6-10 yrs,020319002201,https://www.naukri.com/job-listings-Manager-Da...,"Natural Language Processing, Data Science, Mac...",Delhi NCR,"18,00,000 - 25,00,000 P.A.",Manager- Data Science Machine Learning Enginee...
14,Allstate Solutions Private Limited,6 days ago,2-4 yrs,270219904507,https://www.naukri.com/job-listings-Consultant...,"hadoop, hive, deep learning, r, text mining, m...",Bengaluru,Not disclosed,Consultant - Data Science
15,Amazon Development Centre (India) Pvt. Ltd.,5 days ago,3-8 yrs,260219009302,https://www.naukri.com/job-listings-Product-An...,"data science, business analysis, sql, Analytic...",Chennai,"12,00,000 - 22,00,000 P.A.",Product Analyst (data Science)
16,Accenture,12 days ago,1-4 yrs,220219901498,https://www.naukri.com/job-listings-Data-Scien...,"MATLAB, Python, Data mining, Analytics, Machin...",Bengaluru,Not disclosed,Data Science (jupyter/azure Ml/matlab)
17,Tiger Analytics,6 days ago,2-6 yrs,280219901770,https://www.naukri.com/job-listings-Senior-Ana...,"C, Data Science, Machine Learning, R, Python, ...",Chennai,Not disclosed,Senior Analyst - Data Science
18,QuickXpert Infotech,4 days ago,3-8 yrs,250219001537,https://www.naukri.com/job-listings-Data-Scien...,"machine learning, artificial intelligence, art...","Mumbai, Navi Mumbai, Thane",Not disclosed,"Data Scientist, Data Science Trainer for Weeke..."
19,Emerging India,12 days ago,3-8 yrs,220219005029,https://www.naukri.com/job-listings-Data-Scien...,"deep learning, r, nosql, data science, nlp, sq...","Delhi NCR, Noida","6,00,000 - 10,00,000 P.A.",Data Scientist/data Science Trainer
20,Accenture,13 days ago,2-5 yrs,200219900928,https://www.naukri.com/job-listings-Data-Scien...,"Python, MATLAB, Data mining, Machine learning,...",Bengaluru,Not disclosed,Data Science (jupyter/azure Ml/matlab)
21,Fidel Softech Pvt. Ltd,5 days ago,3-7 yrs,010319003738,https://www.naukri.com/job-listings-Data-Scien...,"data science, elixir, python, scala, Data Visu...",Japan,Not disclosed,Data Science Engineer
22,Allstate Solutions Private Limited,6 days ago,6-8 yrs,270219904505,https://www.naukri.com/job-listings-Lead-Consu...,"Hadoop, Hive, Deep Learning, R, Text Mining, M...",Bengaluru,Not disclosed,Lead Consultant - Data Science
23,Search Folks,5 days ago,5-10 yrs,270219904274,https://www.naukri.com/job-listings-Data-Scien...,"Spark, Hive, Oozie, Sqoop, SCALA, Big Data, El...",Bengaluru,Not disclosed,Data Science Engineer - AWS Certified
24,Allstate Solutions Private Limited,6 days ago,6-8 yrs,270219904504,https://www.naukri.com/job-listings-Lead-Consu...,"Hadoop, Hive, Deep Learning, R, Text Mining, M...",Bengaluru,Not disclosed,Lead Consultant - Data Science
25,Dataone,13 days ago,4-7 yrs,210219006647,https://www.naukri.com/job-listings-Senior-Dat...,"Data Science, Machine Learning, Open Source",Ahmedabad,Not disclosed,Senior Data Science Engineer
26,Cognizant,5 days ago,3-6 yrs,260219006665,https://www.naukri.com/job-listings-Data-Scien...,"Data Science, Machine Learning, Python, R, Spa...","Hyderabad, Chennai",Not disclosed,Data Science/spark Developer - Machine Learnin...
27,rp consultant,7 days ago,5-10 yrs,270219000191,https://www.naukri.com/job-listings-Asic-soc-V...,".net, java, cloud, devops, hadoop, asic / soc ...","Bengaluru, Chennai, Hyderabad","12,00,000 - 22,00,000 P.A.","Asic/soc Verification Experts in Ie&s,.net/ang..."
28,TalPro,7 days ago,8-12 yrs,270219002811,https://www.naukri.com/job-listings-Chief-Inte...,"Machine Learning, Web Technologies, Chief Inte...","Delhi NCR, Mumbai, Bengaluru, Gurgaon",Not disclosed,Chief Intelligence Officer - Data Science & An...
29,Blue Jay Finlease Limited,5 days ago,8-12 yrs,270219004361,https://www.naukri.com/job-listings-Data-Scien...,"Data Science, Machine Learning, Python, R, SQL...",Delhi NCR,"20,00,000 - 35,00,000 P.A.",Data Science Manager || Ziploan
...,...,...,...,...,...,...,...,...,...
420,IMS Proschool Pvt. Ltd,7 days ago,0-5 yrs,270219000196,https://www.naukri.com/job-listings-Assistant-...,"sales management, cold calling, lead generatio...",Hyderabad(Chintal),Not disclosed,Assistant Sales Manager/ Sr Counselor -fast Gr...
421,HR CENTRAL,5 days ago,4-8 yrs,250219008246,https://www.naukri.com/job-listings-Data-Scien...,"analytics data science, modeling, python, sas,...",Mumbai,"18,00,000 - 20,00,000 P.A.",Data Scientist- Mumbai-cpg Industry
422,Tekshapers Software Solutions (P) Limited,12 days ago,9-14 yrs,220219001176,https://www.naukri.com/job-listings-DATA-Scien...,"DATA SCIENCE, DATA SCIENTIST, Machine Learning...",Delhi NCR,Not disclosed,DATA Scientist WITH Healthcare Domain Noida
423,Candor Management Services Pvt. Ltd.,13 days ago,10-10 yrs,210219005500,https://www.naukri.com/job-listings-AI-and-Mac...,"data analytics, machine learning, artificial i...",Bengaluru(Indira Nagar),"15,00,000 - 25,00,000 P.A.",AI and Machine Learning Architect
424,WINFORT SERVICES,12 days ago,5-7 yrs,200219009212,https://www.naukri.com/job-listings-Technical-...,"machine learning, nlp, data science, open sour...",Chennai,Not disclosed,Technical Lead - NLP/ Machine Learning
425,WINFORT SERVICES,8 days ago,3-5 yrs,200219009203,https://www.naukri.com/job-listings-Data-Scien...,"machine learning, nlp, data science, text anal...","Chennai, Hyderabad",Not disclosed,Data Scientist - NLP/ ML - Text Analytics
426,Stratemis HR Technologies Private Limited,14 days ago,1-4 yrs,200219005704,https://www.naukri.com/job-listings-Inside-Sal...,"Inside Sales, Data Science, Machine Learning, ...",Gurgaon(Udyog Vihar),"2,50,000 - 4,00,000 P.A.",Inside Sales Executive (only FROM Education Ba...
427,Atmecs Technologies Pvt Ltd,2 days ago,4-8 yrs,200219005457,https://www.naukri.com/job-listings-Looking-fo...,"Core Java, J2Ee, Javascript, Jenkins, Object O...",Hyderabad,Not disclosed,Looking for Java Developer with Node JS /react...
428,Culminant Outlook,14 days ago,7-9 yrs,200219005187,https://www.naukri.com/job-listings-Senior-Dat...,"deep learning, machine learning, data science,...",Chennai,"8,50,000 - 18,50,000 P.A.","Senior Data Scientist(7-9 Years, Current Locat..."
429,Advent Global Solution Private Limited,14 days ago,2-7 yrs,200219004894,https://www.naukri.com/job-listings-Data-Scien...,"Deep Learning, Hive, Spark, Machine Learning, ...",Chennai,Not disclosed,Data Scientist
430,Careernet Technologies Pvt Ltd,14 days ago,4-9 yrs,200219000222,https://www.naukri.com/job-listings-Excellent-...,"data science, banking analytics, neural networ...","Kolkata, Bengaluru","4,75,000 - 9,75,000 P.A.",Excellent Opportunity!!! Analytics Manager
431,Black Turtle India Pvt Ltd,13 days ago,2-7 yrs,190219902208,https://www.naukri.com/job-listings-Electronic...,"Deep Learning, Data Science, Python, Machine L...",Mumbai,Not disclosed,Electronic Market Making Modeler - KPO
432,Collabera Technologies Private Limited,2 days ago,2-7 yrs,040319003589,https://www.naukri.com/job-listings-Python-Dev...,"Hive, Pig, HBase, NoSQL, Cassandra, MongoDB, S...","Gurgaon, Delhi NCR","4,00,000 - 8,00,000 P.A.","Python Developer,"
433,UNCAP RESEARCH LABS PVT LTD,2 days ago,3-6 yrs,040319001243,https://www.naukri.com/job-listings-Talent-Eva...,"Recruitment, Talent Acquisition, Sourcing, Lin...",Pune,"5,00,000 - 8,00,000 P.A.",Talent Evangelist
434,Engage IT Manpower Solutions Private Limited,5 days ago,3-8 yrs,010319901496,https://www.naukri.com/job-listings-Data-Scien...,"Data Scientist, Natural Language Processing, D...",Bengaluru,Not disclosed,Data Scientist - Natural Language Processing E...
435,FISSION COMPUTER LABS PRIVATE LIMITED,5 days ago,3-8 yrs,010319006901,https://www.naukri.com/job-listings-Java-Devel...,"Java, Spring, Hibernate, Rest, MongoDB, AWS, P...",Hyderabad,"6,00,000 - 14,00,000 P.A.",Java Developer/sr Java Engineer/software Devel...
436,iLEAD Foundation,5 days ago,2-7 yrs,010319005789,https://www.naukri.com/job-listings-Faculty-cu...,"Hotel Management, Hospitality Management, Mobi...",Kolkata(Christopher Road),Not disclosed,Faculty-culinary Sc./gaming & App Development/...
437,Oracle India Pvt. Ltd.,3 days ago,5-10 yrs,010319000439,https://www.naukri.com/job-listings-Obiee-Cons...,"Oracle Database, Unix, Weblogic Server, Comput...",Bengaluru,Not disclosed,Obiee Consultant
438,Mississippi Consultants,30+ days ago,12-14 yrs,310119900282,https://www.naukri.com/job-listings-Senior-lea...,"deep learning, c, machine learning, nlp, pytho...",Mumbai,Not disclosed,Senior lead Artificial Intelligence role
439,Mississippi Consultants,30+ days ago,10-12 yrs,310119900279,https://www.naukri.com/job-listings-Senior-Art...,"Deep Learning, C, Machine Learning, NLP, Pytho...",Mumbai,Not disclosed,Senior Artificial Intelligence role
440,ALMUG TECHNOLOGIES PRIVATE LIMITED,30+ days ago,2-6 yrs,310119004536,https://www.naukri.com/job-listings-Data-Scien...,"machine learning, analytics, statistical model...",Bengaluru,Not disclosed,Data Scientist
441,TalentStack,30+ days ago,4-8 yrs,310119001807,https://www.naukri.com/job-listings-Data-Scien...,"Data Science, Machine Learning, Artificial Int...",Mumbai,Not disclosed,Data Scientist - Machine Learning/ Artificial ...
442,The Hiring Story,30+ days ago,3-6 yrs,300818900889,https://www.naukri.com/job-listings-Data-Scien...,"Data Science, Machine Learning, SQL, Python, R...",Mumbai,Not disclosed,Data Scientist - ETL/ Analytics
443,Change Leaders,30+ days ago,0-4 yrs,300119901520,https://www.naukri.com/job-listings-Data-Scien...,"Machine Learning, Python, Statistics, Analytic...",Bengaluru,Not disclosed,Data Scientist - Machine Learning - Edutech - ...
444,Engage IT Manpower Solutions Private Limited,30+ days ago,4-8 yrs,300119901225,https://www.naukri.com/job-listings-Sr-Enginee...,"deep learning, machine learning, power user, a...",Bengaluru,Not disclosed,Sr. Engineer - Machine Learning (retail Domain)
445,Engage IT Manpower Solutions Private Limited,30+ days ago,5-7 yrs,300119901224,https://www.naukri.com/job-listings-Machine-Le...,"deep learning, neural networks, predictive mod...",Bengaluru,Not disclosed,Machine Learning and Data Scientist
446,Silverpeople,30+ days ago,8-13 yrs,300119900355,https://www.naukri.com/job-listings-Senior-Dat...,"Retail, R, Python, SAS, Problem Solving, data ...",Bengaluru,Not disclosed,Senior Data Scientist - Retail
447,Sitel India Pvt Ltd,30+ days ago,10-12 yrs,300119005132,https://www.naukri.com/job-listings-Data-Scien...,"Natural Language Processing, C, Java, Python, ...",Mumbai,Not disclosed,Data Scientist (senior Manager) - Mumbai
448,Sitel India Pvt Ltd,30+ days ago,5-7 yrs,300119005086,https://www.naukri.com/job-listings-Data-Scien...,"Natural Language Processing, C, Java, Python, ...",Mumbai,Not disclosed,Data Scientist (assistant Manager) - Mumbai
449,DATA SEMANTICS PRIVATE LIMITED,30+ days ago,8-12 yrs,290119005736,https://www.naukri.com/job-listings-Qlikview-A...,"Data Science, Data Warehousing, Business Intel...",Bengaluru(Indira Nagar),"9,00,000 - 18,00,000 P.A.",Qlikview Architect